/* General reset and body styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* Light grey background */
}

/* Header styles */
h1 {
  background-color: #081b31;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}

/* Choices container styles */
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.choice:hover {
  background-color: #d9d9d9; /* Light grey hover background */
}

.choice img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

/* Scoreboard styles */
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 3rem;
  gap: 2rem;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score p {
  margin: 0.5rem 0;
}

#user-score,
#comp-score {
  font-size: 2rem;
  background-color: #081b31;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid #081b31;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Message container styles */
.msg-container {
  margin-top: 3rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 1.5rem;
  display: inline;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}

/* Restart button styles */
#restart-btn {
  font-size: 1.2rem;
  background-color: #4CAF50; /* Green background color */
  color: #fff;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none; /* Remove default focus outline */
}

#restart-btn:hover {  
  background-color: #45a049; /* Darker green hover color */
}
